<!DOCTYPE html>
<html>
	<head>
		{%load static%}
		<title>{%block title%}My first site{%endblock%}</title>
		<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}style.css" />
	</head>
	<body>
		<div id="page">
			<div id="head">
				<ul>
					<li>
						<a href="/">Home</a>
					</li>
					<li>
						<a href="/polls/">Polls</a>
					</li>
				</ul>
			</div>
			<div id="body">
				<div id="left">
					{%include 'products/side.html'%}
				
					{#include 'polls/widget_vote.html'#}
				
				</div>
				<div id="content">
					{%block content%}my default content{%endblock%}
				</div>
				<div class="clear"> </div>
			</div>
			<div id="foot">
				----------------Copyright Reserved------------------
			</div>
	</div>
	</body>
</html>